# API configurations
PORT=8000
PYTHONPATH=/app

# Custom stone color catalog JSON mapping file override path
# Defaults to: src/infrastructure/config/colors.json
COLORS_CONFIG_PATH=src/infrastructure/config/colors.json
